@import './variables';
@import './calendar';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $body-height;
  margin: 0;
}
