$cell-size: 100px;
$body-height: 100vh;
$font-family: Arial, sans-serif;
$gap: 1px;
$columns: 7;
$padding: 10px;
$bg-color: #eee;
$bg-color-hover: #ffbfcb;
$color-border-day: #000;
$font-size: 30px;
$days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
